body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  height: 500px;
  width: 500px;
  border: 1px black solid;
  background-color: antiquewhite;
  box-sizing: border-box;
}
#numerador {
  margin-top: 2%;
}